.navbar{
    height: 10vh;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;

}

.n-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.n-left ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.n-left img{
    transform: scale(.2);
}

.n-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


.navbar .n-left ul a:hover{
    text-decoration-line: underline;
}


@media screen and (max-width: 480px){
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}
@media screen and (min-width:481px) and (max-width: 600px){
    .n-wrapper{
        display: flex;
        flex-direction: column;
    }
    .n-right{
        display: flex;
        flex-direction: column;
    }
    .n-button{
       display: none;
    }
}

